.dashboardRoot{ 
    display:flex; 
    height:100vh; 
    font-family: Arial, sans-serif;
    background-color: #222;
    width: 100vw;
    box-sizing: border-box;
 }
.sidebar{ 
    width:230px; 
    background:#05154e; 
    color:#fff; 
    display:flex; 
    flex-direction:column; 
    justify-content:space-between; 
    padding:20px 10px; 
 }

.sidebarLogo{ 
    max-width:160px; 
    display:block; 
    margin:0 auto 10px; 
}
.sidebarNav{ 
    display:flex; 
    flex-direction:column; 
    gap:8px; 
    margin-top:10px; 
}
.navItem{ 
    background:transparent; 
    border:none; color:#fff; 
    text-align:left; 
    padding:12px 16px; 
    font-weight:700; 
    cursor:pointer; 
    border-radius:4px; 
    font-weight: 500;
}
.navItem:hover{ 
    background: rgba(0,0,0,0.06); 
}
.navItem.active{ 
    background:#3b47b391; 
    color:#fff; 
    box-shadow: inset 4px 0 0 rgba(255,255,255,0.06); 
}

.submenu{ 
    margin-left:8px; 
    display:flex; 
    flex-direction:column; 
    gap:6px; 
    padding:6px 0 0; 
    font-weight: 100;
}
.submenuItem{ 
    background:transparent; 
    border:none; 
    color:#fff; 
    text-align:left; 
    padding:8px 18px; 
    cursor:pointer; 
    border-radius:4px; 
    font-weight:400; 
}
.submenuItem.active{ 
    background: rgba(255,255,255,0.08);
 }

.sidebarBottom{ 
    text-align:center; 
    margin-top:20px; }
.logoutBtn{ 
    padding:8px 12px; 
    border-radius:4px; 
    border:none; 
    cursor:pointer; 
    background:#1b1081; 
    color:#fff; }

.mainArea{ 
    flex:1; 
    padding:20px;
    background:#fff; 
    padding:auto; 

}

.topRow{ 
    display:flex; 
    justify-content:space-between; 
    align-items:center; 
    margin-bottom:18px; 
    border-bottom:1px solid #e6e6e6; 
    padding-bottom:12px; 
}
.pageTitle{ 
    color:#05154e; 
    margin:0; 
    justify-content:space-between; 
    align-items:center; 
}
.topActions{ 
    display:flex; 
    gap:12px; 
    align-items:center;
 }
.searchInput{ 
    padding:8px 12px; 
    border-radius:6px; 
    border:1px solid #ddd; 
    width:340px; 
    background-color: #f5f5f5;
    color: #fff;
}
.addCampaignBtn{ 
    background:#05154e; 
    color:#fff; 
    padding:8px 12px; 
    border-radius:6px; 
    border:none;
     cursor:pointer; 
     font-weight:700; }

.addUserBtn{
    background:#05154e; 
    color:#fff; 
    padding:8px 12px; 
    border-radius:6px; 
    border:none;
     cursor:pointer; 
     font-weight:700;
     margin-left: 20px;
}

.summaryCards{ 
    display:flex; 
    gap:18px; 
    margin-top:18px; 
}
.card{ 
    background:#fff;
     border-radius:12px; 
     width:220px; 
     min-height:100px; 
     box-shadow:0 6px 14px rgba(0,0,0,0.06); 
     padding:16px; 
     display:flex; 
     flex-direction:column; 
     justify-content:space-between;
     }
.cardTitle{ 
    font-size:12px; 
    color:#777; 
    letter-spacing:1px; 
    font-weight:700; 
}
.cardNumber{ 
    font-size:28px;
     font-weight:700;
      color:#222; 
      margin-top:6px;
     }
.cardAction{ 
    font-size:12px; 
    color:#9a9a9a; 
    margin-top:10px;
 }
.viewPage{ 
        border-radius:6px; 
        color:#555; 
        font-weight:600;
        display:inline-block; 
        transition:background 0.2s ease; 
        width: 100%;
        text-align: center;
}

.imagesContent, .videosContent, .websiteUrlContent, .musicContent {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    margin-top: 20px;
    color: #05154e;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}

.calendarSection {
  margin-top: 100px;
  padding: 0 20px 24px;
  width: 1000px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.calendarTitle {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 600;
}

.calendarCard {
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  width: 1000px;
  align-items: center;
  justify-content: center;
  align-content: center;
  top: 50%;
  left: 50%;
}


.userButton {
    background:transparent; 
    border:none; color:#fff; 
    text-align:left; 
    padding:12px 16px; 
    font-weight:700; 
    cursor:pointer; 
    border-radius:4px; 
}
.userButton:hover{ 
    background: rgba(0,0,0,0.06); 
}
.userButton.active{ 
    background:#3b47b391; 
    color:#fff; 
    box-shadow: inset 4px 0 0 rgba(255,255,255,0.06); 
}

.bi-person-circle {
    font-size: 30px;
    margin-right: 25px;
}

.bi-grid {
    font-size: 18px;
    margin-right: 10px;

}

.bi-laptop{
    font-size: 18px;
    margin-right: 10px;
}

.bi-flag{
    font-size: 18px;
    margin-right: 10px;

}
.bi-collection-play{
    font-size: 18px;
    margin-right: 10px;

}

.bi-file-earmark{
    font-size: 18px;
    margin-right: 10px;

}
.bi-grid-1x2{
    font-size: 18px;
    margin-right: 10px;

}
.bi-person-rolodex{
    font-size: 18px;
    margin-right: 10px;

}
.bi-file-earmark-image{
    margin-right: 10px;
    size: 14px;
}

.bi-file-earmark-play{
    margin-right: 10px;
    size: 14px;
}
.bi-globe{
    margin-right: 10px;
    size: 14px;
}

.bi-file-earmark-music{
    margin-right: 10px;
    size: 14px;
}
.bi-collection{
    margin-right: 10px;
    size: 14px;
}
.userSize {
    font-size: 18px;
}


.modalOverlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalCard{
  width: min(520px, 92vw);
  background: #fff;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  justify-content: center;
}

.modalHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

}

.modalTitle{
  margin: 0;
  font-size: 20px;
    font-weight: 600;
}

.modalCloseBtn{
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;

}
.modalBody {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 5%;
}

.modalBody .inputGroupUsername, .modalBody .inputGroupEmail, .modalBody .inputGroupRole {
   border-color: #645f5f;
  font-size: 14px;
  background-color: #c0bbbb;
  padding: 12px;
  border-radius: 12px;
  width: 400px;
  outline:#555;
  padding-top: 3%;
  /* border-top: 50%; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 20px; */
  
}

.modalFooter{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 14px;
}

.cancelBtn{
  border: 1px solid #ccc;
  background: #fff;
  padding: 8px 12px;
  border-radius: 8px;
}

.usersTableWrap{
  width: 100%;
  overflow: auto;
}

.usersTable{
  width: 100%;
  border-collapse: collapse;
}

.usersTable th, .usersTable td{
  padding: 10px 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}


.accountCardsGrid{
  display: grid;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.accountChoiceCard{
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  padding: 18px;
  background: white;
  text-align: left;
  cursor: pointer;
  transition: transform .12s ease, box-shadow .12s ease;
}

.accountChoiceCard:hover{
  transform: translateY(-2px);
  box-shadow: 0 10px 24px rgba(0,0,0,0.08);
}

.accountChoiceCard h3{
  margin: 0 0 8px 0;
}

.accountChoiceCard p{
  margin: 0;
  color: #666;
}

.manageUserTitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.accountsPageTitle {
    margin-right: 1400px;
}